<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Клиенты</title>
    <script>
        function addClient() {
            const userNameTextBox = document.getElementById('userNameTextBox');
            const userStreetTextBox = document.getElementById('userStreetTextBox');
            const userDataContainer = document.getElementById('userDataContainer');
            const name = userNameTextBox.value;
            const street = userStreetTextBox.value;
            //fetch('api/user?id=' + id)
            fetch('api/user/' + id)
                .then(response => response.json())
                .then(user => userDataContainer.innerHTML = JSON.stringify(user));
        }
    </script>
</head>

<body>
<h4>Добавить клиента</h4>

<form action="/users" method="post">
    <div>имя:</div>
    <input type="text" name="name" placeholder="Введите имя пользователя"/>
    <br/><br/>
    <div>улица:</div>
    <input type="text" name="street" placeholder="Введите улицу пользователя"/>
    <br/><br/>
    <input type="submit" value="Добавить"/>
    <input type="reset" value="Reset"/>
</form>

<h4>Все клиенты</h4>

<#list clients as client>
<div>
    ${client}<#sep>, </#sep>
</div>
</#list>

</body>
</html>
